* {
  padding: 0;
  margin: 0;
}
.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 100%;
  height: 15em;
  color: antiquewhite;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar  {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem;
}

.card {
  width: 25rem;
  height: 36rem;
}

.cuerpo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.precio {
  text-align: center;
  padding-bottom: 10px;
}

.container {
  height: 7rem;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1rem;
}

.more, .add {
  color: beige;
  background-color: #f5901c;
  border-radius: 10%;
  padding: 5px;
}

.agregar, .restar {
  padding-left: 5px;
  padding-right: 5px;
}

.cart-item-controls {
  display: flex;
  gap: 5px;
}

